<h1>Character Index Page</h1>

<%= link_to "New Character", characters_new_path %>
<table style="border-collapse:separate; 
border-spacing:1em;">
        <tr>
            <th>Image</th>
            <th>Head Shot Url</th>
            <th>Name</th>
            <th>Universe</th>
            <td>Show</td>
        </tr>
    <% @characters.each do |c| %>
        <tr>
            <td><img src="<%= c.head_shot %>" style="border-radius:50%; width: 90px; height: 90px"%></td>
            <td><%= c.head_shot %></td>
            <td><%= c.name %></td>
            <td><%= c.universe %></td>
            <td><%= link_to "Show", characters_profile_path(c.name) %></td>
        </tr>
<% end %>
</table>
