<% @character.each do |f| %>
	<img src="<%= f.head_shot %>" style="width: 90px; height: 90px;" />
	<p><%= f.name %></p>
	<p><%= f.head_shot %></p>
	<p><%= f.name %></p>
	<ul>
		<% f.move.each do |m| %>
			<li><%=m.move_name %></li>
		<% end %>	
	</ul>
<% end %>