



<p><%=@I.name%></p>
<%= image_tag(@I.head_shot)%>
  <table>
        <th>Move</th>
        <th>Input</th>

    <% @moves.each_with_index do |t, i| %>
        

    
  
        
        <tr>
            <td><%=@moves[i].move_name%></td>
            <td><%= image_tag("Move_Images/#{@I.name}/#{@moves[i].move_name}.PNG")%></td>
        </tr>
  
    
    <%end%>

  </table>
  
  	<canvas id="canvas" width="1000px", height="500px" style="display: block; margin: 0 auto;">
	</canvas>
  
  
  <script>

        
       window.onload = function() {
		var canvas = document.getElementById('canvas');
		var ctx = canvas.getContext("2d");

	    var character = new Image();
	   
	   character.onload = function() {
	       	var spriteWidth = character.width;
		    var spriteHeight = character.height;
		    
		    
		    	var rows = 1;
		var cols = 8;
		
		

	
		var width = spriteWidth / cols;

		var height = spriteHeight / rows;

		var curFrame = 0;

		var frameCount = 8

		var x = 0;
		var y = 0;

		var srcX = 0;
		var srcY = 0;

		const updateFrame = (() => {
			curFrame = ++curFrame % frameCount;
			srcX = curFrame * width;
			ctx.clearRect(x,y, width, height);
		})

		const draw = (() => {
			updateFrame();
			 ctx.drawImage(character,srcX,srcY,width,height,x,y,width,height);
		})
		
		setInterval(draw, 200);

	   }
	    
	    character.src = "<%= "/images/Character_Sprites/#{@I.name}/spritesheet.png" %>";
	  

	
		
        
       }
    
	</script>
